{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<form enctype="application/x-www-form-urlencoded">
    <input name="pet[o][species]" value="Snake">
    <input name="pet[o][health]" value=300>
    <input name="pet[0][attack]" value=7>
    <input name="pet[0][speed]" value=8>
    <input name="pet[0][defense]" value=5>
    <input name="pet[0][spc_attack]" value=21>
    <input name="pet[0][spc_spurn]" value=7>
    <input name="pet[1][species]" value="Rabbit">
    <input name="pet[1][health]" value=300>
    <input name="pet[1][attack]" value=4>
    <input name="pet[1][speed]" value=10>
    <input name="pet[1][defense]" value=7>
    <input name="pet[1][spc_attack]" value=30>
    <input name="pet[1][spc_spurn]" value=4>
    <input name="pet[2][species]" value="Lion">
    <input name="pet[2][health]" value=300>
    <input name="pet[2][attack]" value=8>
    <input name="pet[2][speed]" value=7>
    <input name="pet[2][defense]" value=3>
    <input name="pet[2][spc_attack]" value=24>
    <input name="pet[2][spc_spurn]" value=8>
    <input name="pet[3][species]" value="Dragon">
    <input name="pet[3][health]" value=300>
    <input name="pet[3][attack]" value=10>
    <input name="pet[3][speed]" value=4>
    <input name="pet[3][defense]" value=2>
    <input name="pet[3][spc_attack]" value=30>
    <input name="pet[3][spc_spurn]" value=10>
</form>
<form enctype="application/x-www-form-urlencoded">
    <
</form>
{% endblock %}